---
eleventyNavigation:
  key: "Home"
  order: 1
numberOfLatestPostsToShow: 5
---

<p>Thanks for stopping by!</p>

<p><a href="blog/images/IMG_1093-150x150.jpg">Maltese dog</a></p>

<img src="images/IMG_0889-300x225.jpg" alt="A Maltese dog">
<img src="images/IMG_0883-300x225.jpg" alt="A Maltese dog">

<img src="images/dogs-010-1024x683.jpg" alt="Maltese dog, covered in mud">

<p>Head on over to <a href="/about/">about me</a> if you're curious, otherwise, blog posts are thataway ꜜꜜꜜ.</p>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}